<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<string>Boulder</string>
		<key>price</key>
		<integer>289000</integer>
		<key>bed</key>
		<integer>1</integer>
		<key>bath</key>
		<integer>1</integer>
		<key>sqft</key>
		<integer>821</integer>
		<key>image</key>
		<string>289000.jpg</string>
		<key>category</key>
		<dict>
			<key>homeType</key>
			<string>Townhome</string>
		</dict>
		<key>status</key>
		<dict>
			<key>isForSale</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>city</key>
		<string>Boulder</string>
		<key>price</key>
		<integer>1698000</integer>
		<key>bed</key>
		<integer>5</integer>
		<key>bath</key>
		<integer>4</integer>
		<key>sqft</key>
		<integer>6544</integer>
		<key>image</key>
		<string>1698000.jpg</string>
		<key>category</key>
		<dict>
			<key>homeType</key>
			<string>Single Family</string>
		</dict>
		<key>status</key>
		<dict>
			<key>isForSale</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>city</key>
		<string>Louisville</string>
		<key>price</key>
		<integer>900000</integer>
		<key>bed</key>
		<integer>5</integer>
		<key>bath</key>
		<integer>3</integer>
		<key>sqft</key>
		<integer>3978</integer>
		<key>image</key>
		<string>900000.jpg</string>
		<key>category</key>
		<dict>
			<key>homeType</key>
			<string>Single Family</string>
		</dict>
		<key>status</key>
		<dict>
			<key>isForSale</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>city</key>
		<string>Boulder</string>
		<key>price</key>
		<integer>889000</integer>
		<key>bed</key>
		<integer>3</integer>
		<key>bath</key>
		<integer>2</integer>
		<key>sqft</key>
		<integer>3049</integer>
		<key>image</key>
		<string>889000.jpg</string>
		<key>category</key>
		<dict>
			<key>homeType</key>
			<string>Single Family</string>
		</dict>
		<key>status</key>
		<dict>
			<key>isForSale</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>city</key>
		<string>Louisville</string>
		<key>price</key>
		<integer>575000</integer>
		<key>bed</key>
		<integer>4</integer>
		<key>bath</key>
		<integer>2</integer>
		<key>sqft</key>
		<integer>1800</integer>
		<key>image</key>
		<string>575000.jpg</string>
		<key>category</key>
		<dict>
			<key>homeType</key>
			<string>Single Family</string>
		</dict>
		<key>status</key>
		<dict>
			<key>isForSale</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>city</key>
		<string>Boulder</string>
		<key>price</key>
		<integer>325000</integer>
		<key>bed</key>
		<integer>2</integer>
		<key>bath</key>
		<integer>1</integer>
		<key>sqft</key>
		<integer>816</integer>
		<key>image</key>
		<string>325000.jpg</string>
		<key>category</key>
		<dict>
			<key>homeType</key>
			<string>Townhome</string>
		</dict>
		<key>status</key>
		<dict>
			<key>isForSale</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>city</key>
		<string>Boulder</string>
		<key>price</key>
		<integer>1290000</integer>
		<key>bed</key>
		<integer>3</integer>
		<key>bath</key>
		<integer>3</integer>
		<key>sqft</key>
		<integer>2708</integer>
		<key>image</key>
		<string>1290000.jpg</string>
		<key>category</key>
		<dict>
			<key>homeType</key>
			<string>Single Family</string>
		</dict>
		<key>status</key>
		<dict>
			<key>isForSale</key>
			<true/>
		</dict>
	</dict>
</array>
</plist>
